.GroupMember {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2vmin;
  margin-bottom: 4vmin;

  img {
    height: 12vmin;
    margin-right: 3vmin;
  }

  .GroupMember-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1vmin;

    h2 {
      margin: 0;
      margin-bottom: 2vmin;
    }

    a {
      text-decoration: none;
    }

    .GroupMember-links {
      img {
        padding: 0.4vmin;
        height: 4vmin;
        border-radius: 7%;

        transition: 0.15s;
      }

      img:hover {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        background-color: #66b7b7;

        transition: 0.2s;
      }
    }
  }
}
