.GroupMember {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2vmin;
    margin-bottom: 2vmin;

    img {
        height: 12vmin;
        margin-right: 3vmin;
    }

    h1 {
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}
