.Home {
  margin: 0 auto;
  text-align: center;

  background-color: #171513;
  color: white;

  h1 {
    font-size: 6vmin;
    margin: 0;
    margin-bottom: 4vmin;
  }

  p {
    font-size: 2vmin;
    margin: 0 auto;
  }

  .Accueil {
    background-color: #171513;
    padding: 3vmin;
    margin: 0 auto;
    padding: 2vmin;
    height: 90vmin;

    h1 {
      font-size: 12vmin;
      margin-top: 12vmin;
      margin-bottom: 12vmin;
    }

    p {
      font-size: 4vmin;
      width: 50%;
    }
  }

  .Presentation {
    background-color: #524d48;
    padding: 3vmin;
    height: 90vmin;

    p {
      width: 40%;
    }
  }

  .Group {
    background-color: #171513;
    padding: 3vmin;

    .Group-members {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;

      margin: 2vmin;
      padding-left: 10vw;
      padding-top: 2vmin;
      padding-bottom: 2vmin;

      .Group-members-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        margin-right: 10vmin;
      }
    }
  }

  .Downloads {
    background-color: #6e645b;
    padding: 3vmin;

    .Downloads-item {
      margin-bottom: 4vmin;

      h2 {
        margin-bottom: 1vmin;
      }

      a {
        text-decoration: none;
      }

      button {
        border: 0;
        border-radius: 5px;
        margin-left: 1vmin;
        margin-right: 1vmin;

        color: white;
        background-color: #171513;

        padding: 1vmin;
        font-size: 3vmin;
        transition: 0.2s;
      }

      button:hover {
        background-color: #4f4d4c;
        transition: 0.2s;
        cursor: pointer;
      }

      button:focus {
        outline: 0;
      }
    }
  }

  .Contacts {
    padding: 3vmin;

    .Contacts-links {
      img {
        height: 6vmin;
        margin-left: 2vmin;
        margin-right: 2vmin;
        margin-bottom: 2vmin;
        padding: 0.4vmin;
        border-radius: 7%;

        filter: invert(100%);
        -webkit-filter: invert(100%);
        transition: 0.2s;
      }

      img:hover {
        filter: invert(0%);
        -webkit-filter: invert(0%);
        background-color: white;
        transition: 0.2s;
      }
    }
  }

  footer {
    padding: 2vmin;
  }
}
