.Home {
  margin: 0 auto;
  text-align: center;

  background-color: #ce6767;
  color: white;

  .Accueil {
    margin: 0 auto;
    padding: 2vmin;
    height: 90vmin;

    h1 {
      margin: 0 auto;
    }
  }

  .Presentation {
    height: 90vmin;
  }

  .Group {
    // height: 80vmin;

    .Group-members {
      display: flex;
      flex-direction: column;

      img {
        height: 5vmin;
      }
    }
  }

  .Downloads {
    height: 50vmin;
  }

  .Contacts {
    height: 30vmin;
  }
}

