.Home {
  margin: 0 auto;
  text-align: center;

  background-color: #ce6767;
  color: white;

  h1 {
    font-size: 6vmin;
    margin: 3vmin auto;
  }

  p {
    font-size: 2vmin;
    margin: 0 auto;
  }

  .Accueil {
    margin: 0 auto;
    padding: 2vmin;
    height: 90vmin;
  }

  .Presentation {
    height: 90vmin;
  }

  .Group {
    .Group-members {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;

      margin: 2vmin;
      padding-left: 10vw;
      padding-top: 2vmin;
      padding-bottom: 2vmin;

      .Group-members-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        margin-right: 10vmin;
      }
    }
  }

  .Downloads {
    padding-bottom: 2vmin;

    a {
      text-decoration: none;
    }

    p {
      margin-bottom: 3vmin;
    }

    button {
      border: 0;
      border-radius: 5px;

      color: white;
      background-color: #632323;

      padding: 1vmin;
      font-size: 3vmin;
      transition: 0.2s;
    }

    button:hover {
      background-color: #bd2f2f;
      transition: 0.2s;
      cursor: pointer;
    }

    button:focus {
      outline: 0;
    }
  }

  .Contacts {
    height: 30vmin;

    .Contacts-links {
      img {
        height: 8vmin;
        margin-left: 4vmin;
      }
    }
  }
}
