.DocumentationHome {
  .DocumentationHome-body {
    text-align: center;

    padding: 4vmin;
    margin-left: 28vmin;

    .DocumentationHome-section {
      p {
        margin-left: 2vmin;
      }

      text-align: left;
      margin-top: 8vmin;
    }
  }
}
