.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;

    margin: 0;
    background-color: #3d3b38;
    color: white;

    a {
        margin: 0;
        padding: 2vmin;

        text-align: center;
        text-decoration: none;

        color: white;
        transition: 0.2s;
    }

    a:hover {
        background-color: #827e78;
        transition: 0.2s;
    }
}
